.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100dvh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5%;
    margin: 0 auto;
    justify-content: space-between;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right;
    text-transform: uppercase;

    @media (max-width: 90em) {
        font-size: 32px;
        line-height: 1.2;
    }

    @media (max-width: 36em) {
        margin-top: 40px;
        font-size: 32px;
        line-height: 1.3;
    }
}

.description {
    max-width: 800px;
    color: rgb(255, 255, 255);
    font-size: 37px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right;

    @media (max-width: 36em) {
        max-width: 100%;
        font-size: var(--mantine-font-size-xl);
    }
}

.control {
    margin-top: calc(var(--mantine-spacing-xl) * 1.5);
    cursor: pointer;

    @media (max-width: 48em) {
        width: 100%;
    }
}
